Cython==0.23.4
Keras==0.3.2
PyYAML==3.11
Theano==0.8.0rc1
argparse==1.2.1
clang==3.5
h5py==2.5.0
numpy==1.10.4
protobuf==3.0.0b2
scipy==0.17.0
six==1.10.0
tensorflow==0.7.1
wheel==0.29.0
wsgiref==0.1.2
